.column {
  float: left;
  width: 33.33%;
  height: 250px;
}

/* Clear floats after the columns */
.row:after {
  content: '';
  display: table;
  clear: both;
}

.temp {
  height: 250px;
  margin-top: 60%;
  margin-left: 20%;
}

.footer {
  margin-top: 10%;
  text-align: center;
  background-color: lightgray;
  height: 30px;
  padding: 20px;
}
